/* Quicksand Light (300) */
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/quicksand/Quicksand-Light.woff2') format('woff2'),
  url('/assets/fonts/quicksand/Quicksand-Light.woff') format('woff'),
  url('/assets/fonts/quicksand/Quicksand-Light.ttf') format('truetype');
  font-display: swap;
}

/* Quicksand Regular (400) */
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/quicksand/Quicksand-Regular.woff2') format('woff2'),
  url('/assets/fonts/quicksand/Quicksand-Regular.woff') format('woff'),
  url('/assets/fonts/quicksand/Quicksand-Regular.ttf') format('truetype');
  font-display: swap;
}

/* Quicksand Medium (500) */
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/quicksand/Quicksand-Medium.woff2') format('woff2'),
  url('/assets/fonts/quicksand/Quicksand-Medium.woff') format('woff'),
  url('/assets/fonts/quicksand/Quicksand-Medium.ttf') format('truetype');
  font-display: swap;
}

/* Quicksand SemiBold (600) */
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/quicksand/Quicksand-SemiBold.woff2') format('woff2'),
  url('/assets/fonts/quicksand/Quicksand-SemiBold.woff') format('woff'),
  url('/assets/fonts/quicksand/Quicksand-SemiBold.ttf') format('truetype');
  font-display: swap;
}

/* Quicksand Bold (700) */
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/quicksand/Quicksand-Bold.woff2') format('woff2'),
  url('/assets/fonts/quicksand/Quicksand-Bold.woff') format('woff'),
  url('/assets/fonts/quicksand/Quicksand-Bold.ttf') format('truetype');
  font-display: swap;
}

/* JetBrains Mono Regular */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/jetbrains/JetBrainsMono-Regular.woff2') format('woff2'),
  url('/assets/fonts/jetbrains/JetBrainsMono-Regular.woff') format('woff'),
  url('/assets/fonts/jetbrains/JetBrainsMono-Regular.ttf') format('truetype');
  font-display: swap;
}

/* JetBrains Mono Bold */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/jetbrains/JetBrainsMono-Bold.woff2') format('woff2'),
  url('/assets/fonts/jetbrains/JetBrainsMono-Bold.woff') format('woff'),
  url('/assets/fonts/jetbrains/JetBrainsMono-Bold.ttf') format('truetype');
  font-display: swap;
}
