{
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(zone\\.js)$",
    "^@angular/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@?\\w",
    "^(@core|@shared|@features|@app)(/.*)?$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
